<aside class="sidebar">
	<div class="sidebar__me">
		<a class="avatar--med" href="http://siamakgholamali.ir">
			<img class="avatar__img" alt="Siamak Gholamali" src="{{ site.avatar }}">
		</a>
		<div class="my-info">
			<a class="my-info__name" href="http://siamakgholamali.ir">
				{{ site.name }}
			</a>
			<span class="my-info__job" data-icon="a">
				{{ site.job }}
			</span>
		</div>
	</div>

	<ul class="soc-scape-blocking-ial-itmes">
		{% if page.title %}
		<li class="soc-scape-blocking-ial-itmes__item--blog"><a class="soc-scape-blocking-ial-itmes__item" href="{{ site.baseurl }}blog" data-icon="q">وبلاگ</a></li>
		{% endif %}
		<li><a class="soc-scape-blocking-ial-itmes__item" href="{{ site.twitter }}" data-icon="b">توییتر</a></li>
		<li><a class="soc-scape-blocking-ial-itmes__item" href="{{ site.github }}" data-icon="k">گیت‌هاب</a></li>
		<li><a class="soc-scape-blocking-ial-itmes__item" href="{{ site.facebook }}" data-icon="f">فیسبوک</a></li>
		<li><a class="soc-scape-blocking-ial-itmes__item" href="mailto:{{ site.email }}" data-icon="l">ایمیل</a></li>
	</ul>

	<div class="bcm">
		<a class="bcm__link js-bcm__link" href="/work">
			<span class="bcm__icon" data-icon="p"></span>
			<span class="bcm__text">پیشنهاد پروژه</span>
		</a>
	</div>

	<script type="text/javascript">
		if ($( window ).width() > 768) {
			$(".js-bcm__link").hover(function() {
				$(this).toggleClass("js-bcm__link--toggle");
			});
		};
	</script>
</aside>
