// Colors
$white: #ffffff;
$white-dark-1: darken($white, 5%);
$white-dark-2: darken($white, 10%);

$black: #323232;
$black-light-2: lighten($black, 20%);
$black-light-1: lighten($black, 10%);
$black-dark-1: darken($black, 10%);
$black-dark-2: darken($black, 20%);
$black-transparent: rgba(0, 0, 0, 0.1);

$blue-chill: hsl(175, 80%, 35%);
$blue-chill-light-2: lighten($blue-chill, 20%);
$blue-chill-light-1: lighten($blue-chill, 10%);
$blue-chill-dark-1: darken($blue-chill, 10%);
$blue-chill-dark-2: darken($blue-chill, 20%);

// Typography
$font-size-0: 0.75rem;
$font-size-1: 1rem;
$font-size-2: 1.333rem;
$font-size-3: 1.777rem;
$font-size-4: 2.369rem;
$font-size-5: 3.157rem;

$font-family-for-general: Mitra, Source sans pro, Tahoma, Arial, sans-serif;
$font-family-for-content: IranianSerif, Source sans pro, Tahoma, Arial, sans-serif;
$font-family-for-codes: ubuntu mono, monako, monospace;
$font-size-med-big: 1.3rem;
$font-size-for-icons: 1.2em;
$margin-bottom: 1rem;
$padding-general: 1rem;
$text-shadow-lvl1: 1px 2px 2px rgba(0, 0, 0, 0.15);

// Visual stuff
$intoro-background: $blue-chill-dark-2;
$box-shadow-general: 0px 1px 7px -4px black;
$border-radius-general: 3px;
$sidebar-width: 230px;
$avatar-border-radius: 50%;

$animation-mode-1: cubic-bezier(0.7, 0.0, 0.25, 0.95);
$animation-mode-2: cubic-bezier(0, 0.7, 0.4, 1);
