@import "base/fonts";
@import "base/syntax";

h1, h2, h3, h4, h6 {
	font-family: $font-family-for-general;
}

h2 { font-size: $font-size-5; }
h3 { font-size: $font-size-4; }
h4 { font-size: $font-size-3; }
h6 { font-size: $font-size-2; }
h6 { font-size: $font-size-0; }

p {
	margin-bottom: $margin-bottom;
}

.post__content ul {
	list-style: disc;
	padding: 0 2rem;
	margin-bottom: $margin-bottom;
}

.post__content iframe {
	margin-bottom: 1rem;
	align-self: center;
}

.post__content h3, .post__content h4, .post__content h5 {
	margin-top: 1.5rem;
}

a {
	text-decoration: none;
}

.post__content a {
	color: $blue-chill-dark-1;
}

hr {
	border: none;
	border-top: 1px solid #e61919;
	margin: $margin-bottom;
}

pre {
	padding: $padding-general;
	margin-bottom: $margin-bottom;
	direction: ltr;
	text-align: left;
	border-radius: 2px;
	background: $white-dark-1;
	border-left: 0.5em solid $white-dark-2;
	tab-size: 3;
	letter-spacing: 0;
}

blockquote {
	&:before {
		content: 's';
		font-family: mehdihpir;
		color: $blue-chill-light-1;
		font-size: 1.5em;
		position: absolute;
		right: -40px;
		top: 0;
	}

	background: $white-dark-1;
	border-right: 0.5em solid $white-dark-2;
	padding: $padding-general;
	position: relative;
	margin-right: 50px;
	margin-bottom: $margin-bottom;

	&> h6 {
		text-align: left;
		direction: ltr;

		&> a:after {
			margin-left: 0.25rem;
			position: relative;
			margin-bottom: 4px;
		}
	}
}


code {
	font-family: $font-family-for-codes;
	direction: ltr;
	text-align: left;
	letter-spacing: 0;
	display: inline-block;
	background: $white-dark-1;
	line-height: 1.5;
	white-space: pre-wrap;
}

.post__content p {
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		letter-spacing: -0.7px;
	}
}

.post__content li {
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		letter-spacing: -0.7px;
	}
}

.post__content > p > code {
	padding: 3px 5px;
}

.post__content img {
	max-width: 100%;
	align-self: center;
}

.content__important {
	background: $white-dark-1;
	padding: $padding-general;
	border-right: 0.5em solid $blue-chill-light-1;
	border-radius: 2px;
}
